@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1976 0.0365 264.1931);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1976 0.0365 264.1931);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1976 0.0365 264.1931);
  --primary: oklch(0.6192 0.2419 11.3318);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3074 0.1034 255.5931);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.1976 0.0365 264.1931);
  --accent: oklch(0.8752 0.2354 150.7361);
  --accent-foreground: oklch(0.1976 0.0365 264.1931);
  --destructive: oklch(0.6317 0.2536 26.5420);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9589 0.0074 197.0321);
  --input: oklch(0.9589 0.0074 197.0321);
  --ring: oklch(0.6623 0.3108 322.0053);
  --chart-1: oklch(0.6623 0.3108 322.0053);
  --chart-2: oklch(0.4809 0.2966 275.0749);
  --chart-3: oklch(0.8895 0.1764 169.2810);
  --chart-4: oklch(0.8752 0.2354 150.7361);
  --chart-5: oklch(0.7688 0.1731 63.0355);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.1976 0.0365 264.1931);
  --sidebar-primary: oklch(0.6623 0.3108 322.0053);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8752 0.2354 150.7361);
  --sidebar-accent-foreground: oklch(0.1976 0.0365 264.1931);
  --sidebar-border: oklch(0.9589 0.0074 197.0321);
  --sidebar-ring: oklch(0.6623 0.3108 322.0053);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1.2rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1976 0.0365 264.1931);
  --foreground: oklch(0.9906 0.0017 247.8388);
  --card: oklch(0.2874 0.0551 263.1848);
  --card-foreground: oklch(0.9906 0.0017 247.8388);
  --popover: oklch(0.2874 0.0551 263.1848);
  --popover-foreground: oklch(0.9906 0.0017 247.8388);
  --primary: oklch(0.6192 0.2419 11.3318);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2874 0.0551 263.1848);
  --secondary-foreground: oklch(0.9906 0.0017 247.8388);
  --muted: oklch(0.2404 0.0457 261.7870);
  --muted-foreground: oklch(0.6753 0.0411 252.0438);
  --accent: oklch(0.8752 0.2354 150.7361);
  --accent-foreground: oklch(0.1976 0.0365 264.1931);
  --destructive: oklch(0.6317 0.2536 26.5420);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3719 0.0753 263.4712);
  --input: oklch(0.3719 0.0753 263.4712);
  --ring: oklch(0.6623 0.3108 322.0053);
  --chart-1: oklch(0.6623 0.3108 322.0053);
  --chart-2: oklch(0.4809 0.2966 275.0749);
  --chart-3: oklch(0.8895 0.1764 169.2810);
  --chart-4: oklch(0.8752 0.2354 150.7361);
  --chart-5: oklch(0.7688 0.1731 63.0355);
  --sidebar: oklch(0.16 0.04 250);
  --sidebar-foreground: oklch(0.95 0.01 240);
  --sidebar-primary: oklch(0.85 0.20 120);
  --sidebar-primary-foreground: oklch(0.16 0.04 250);
  --sidebar-accent: oklch(0.22 0.05 250);
  --sidebar-accent-foreground: oklch(0.85 0.20 120);
  --sidebar-border: oklch(0.22 0.05 250);
  --sidebar-ring: oklch(0.85 0.20 120);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1.2rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.00);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}